---
import type { GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content'

import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import BigSection from '../../components/02-molecules/texts/BigSection.astro'
import Footer from '../../components/Footer.astro'

import BaseHTML from '@/components/01-atoms/BaseHTML.astro'

export const getStaticPaths = (async () => {
  let portfolios: any[] = []
  let params = {}
  try {
    portfolios = await getCollection('portfolios')
    return [{ props: { portfolios }, params }]
  } catch {
    return [{ props: { portfolios }, params }]
  }
}) satisfies GetStaticPaths

const portfolios = await getCollection('portfolios')

const fallbackImgURL =
  'https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg'
---

<BaseHTML>
  <head>
    <BaseHead title={`Achmad Kurnianto - Portfolios`} />
  </head>
  <body>
    <Header />
    <main class='container mx-auto mt-20'>
      <BigSection
        title='Portfolios'
        description='Welcome to my space where I share my artworks!'
        viewTransitionName='my-portfolios'
      />
      <section
        class='flex flex-wrap justify-center mx-4 lg:mx-0'
        style='gap: 1rem;'
      >
        {
          portfolios?.map((post) => (
            <a
              class='card w-96 bg-base-100 shadow-xl hover:text-primary'
              href={post.data.links?.[0] ?? post.data.link ?? '/portfolios'}
              target='_blank'
              rel='noreferer noopener'
            >
              <figure>
                <picture>
                  <source
                    srcset={post.data?.screenshots?.[2]}
                    type='image/avif'
                  />
                  <source
                    srcset={post.data?.screenshots?.[1]}
                    type='image/webp'
                  />
                  <img
                    loading='lazy'
                    src={post.data?.screenshots?.[0] ?? fallbackImgURL}
                    transition:name={`portfolio-image-${post.id}`}
                    alt={post.data.name}
                  />
                </picture>
              </figure>
              <div class='card-body'>
                <h2
                  class='card-title'
                  transition:name={`portfolio-name-${post.id}`}
                >
                  {post.data.name}
                </h2>
                {/** <p>{post.data.type}</p> */}
              </div>
            </a>
          )) ?? false
        }
      </section>
    </main>
    <Footer />
  </body>
</BaseHTML>

<style lang='scss'>
  .card {
    img {
      min-height: 12.5rem;
      object-fit: cover;
    }
  }
</style>
